@font-face {
    font-family: overpass;
    src: url(https://fonts.google.com/specimen/Overpass);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    border: 0; /* tirar borda dos botões e bordas que vem por padrão no input*/
    outline: 0; /* tirar bordas de quando clica no botão de input*/
    background: none; /* tirar background padão de inputs*/

    font-family: Overpass,sans-serif;
}

:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

body {
    max-width: 1440px;
    min-width: 375px;
    height: 100%;
    background: var(--Very-Dark-Blue);
    color: var(--White);
}